h1{
    color: #49419e;
}

.page-header{
    background-color: gray;
    padding: 10px;
}

.comment {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 10px;
}

/* Clear floats after containers */
.comment::after {
    content: "";
    clear: both;
    display: table;
}

/* Increase the font-size of a span element */
.comment h3 {
    font-size: 20px;
    margin-right: 15px;
    color: #5f52eb;
}

.comment p{
    color: #262438;
}

.comment span{
    color: #a39bfa;
    font-size: 15px;
}

.comment-form{
    border: 2px solid #47436b;
    border-radius: 4px;
    padding-bottom: 10px;
    margin-left: 14px;
    margin-bottom: 30px;
}

.comment-form legend{
    color: #49419e;
}

.comment-form textarea {
    width: 100%;
    box-sizing: border-box;
}

footer div{
    width: 10px;
}